@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --left-bg-color: rgba(87, 84, 236, 0.6);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 4rem !important;
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

button {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.container-fluid {
  height: 100%;
  position: relative;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("ps5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("xbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  button {
    font-size: 1.2rem !important;
    top: 35%;
  }
}
